<div class="contacts-component container-fluid px-0">
    <div class="contacts-container">
        <div class="contacts-heading">
            <span class="contacts"> CONTACTS </span>
        </div>
        <div class="contacts-content pt-4">
            <div class="contact-email-card px-3 py-4 mt-4">
                <span class="email-heading"> EMAIL </span>
                <span class="email d-block mt-3 mb-3"> {{ userData.email }} </span>
            </div>
            <div class="contact-location-card px-3 py-4 mt-4">
                <span class="location-heading"> ADDRESS </span>
                <span class="location d-block mt-3 mb-3"> {{ userData.location }} </span>
            </div>
        </div>
        <div class="developed-and-designed-section position-absolute fixed-bottom mb-5">
            <div class="developed-by-container d-flex justify-content-center">
                <span class="developed-by"> Developed by Amisha Sacheti </span>
            </div>
            <div class="designed-by-container d-flex justify-content-center mt-2">
                <span class="designed-by"> Designed by Pavlova Irina </span>
            </div>
        </div>
    </div>
</div>